footer.foo{
    width: 100vw;
    margin-top: 2rem;
    background-color: $color-secondary;
    min-width: 100px;
    padding: 1rem;

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 140px minmax(100px,auto) 100px;
        grid-template-areas: "px px"
                             "about contact"
                             "copy copy";

        grid-gap: 1.5rem;
        padding: 1.1rem;

        @include mq(md){
            grid-gap: 0.75rem;
            grid-template-rows: 130px minmax(100px,auto) minmax(100px,auto) 100px;
            grid-template-areas: "px px"
                             "contact contact "
                             "about about "
                             "copy copy ";
        }
    }
}

.footer__title{
    padding: 1rem;
    grid-area: px;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .logo__title{
        color: #fff;
        font-size: 2.5rem;
        padding: 0.5rem;
        display: block;
        margin: 0.5rem;
        text-align: center;
    }

    @include mq(md){
        .logo__title{
            flex: 100%;
            font-size: 2rem;
            width: 100%;
        }
    }
}

.about{
    padding: 1rem;
    grid-area: about;
    
    p{
        text-align: left;
        font-size: 15px;
        font-weight: bold;
        font-family: $font-aux;
        color: #808080;
        letter-spacing: 1.5px;
        line-height: 1.7em;

    }

    &__title{
        margin-bottom: 1rem;
        color: #fff;
        font-size: 1.3rem;
        font-family: $font-aux;
        line-height: 1;
        font-weight: bold;
    }
}

.contact{
    padding: 1rem;
    grid-area: contact;
    
    li{
        width: 100%;
        padding: 0.2rem;
        margin-bottom: 0.35rem;
        color: #808080;

        a{
            text-align: left;
            font-size: 15px;
            font-weight: bold;
            font-family: $font-aux;
            color: #808080;
            letter-spacing: 1.5px;
            line-height: 1.7em;
            transition: all $transition-global;
        }

        span.color{
            margin-left: -10px;
            color: #fff !important;
            padding: 0 0.25rem;
            font-size: 16px;
            display: block;
        }

        .fa{
            color: #fff;
        }

        a:hover{
            color: $enf-color;
        }
    }

    &__title{
        margin-bottom: 1rem;
        color: #fff;
        font-size: 1.3rem;
        font-family: $font-aux;
        line-height: 1;
        font-weight: bold;
    }
}

.copy{
    padding: 1rem;
    grid-area: copy;
    justify-self: center;
    align-self: center;
    position: relative;

    p{
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
        color: rgba(#fff,0.85);
        font-family: $font-second;
    }

    .endl{
        display: inline-flex;
        color: $enf-color;
        font-size: 2.35rem;
        margin: 0 0.35rem;
        vertical-align: sub;
    }

    &::before{
        content: "";
        display: block;
        top: 0rem;
        left: 5%;
        position: absolute;
        margin: 0.25rem auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-bottom: 1.5px solid rgba($enf-color,0.45);
        width: 90%;
    }

    @include mq(md){

        .firt_copy{
            display: block;
            margin-bottom: 1rem;
        }

        .endl{
            color: $enf-color;
            font-size: 3rem;
            margin: 0 0.35rem;
        }
    }
}