/*                  layout                   */

.container-px{
    max-height: 100%;
    max-width: $max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
}

.container-1200{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}