
$index: 1100;

#container-form-edit{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100vw;
	min-height: 100vh;
	overflow-y: auto;
	opacity: 0;
	z-index: -1;
	visibility: hidden;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.25s linear 0.45s;
	overflow: auto;

	
	#save_image{
		position: relative;
		width: 800px;
		min-width: 380px;
		min-height: 450px;
		top: 10vh;
		transition: all 0.3s ease-in-out 0s;
		display: grid;
		grid-gap: 5px;
		
		background-color: #fff;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 280px 1fr 55px;
		grid-template-areas: "left right"
		"prebottom prebottom"
		"bottom1 bottom2";
		
		box-shadow: 0 0 10px 0 #000;
		transform: translate3d(0,-100vh,0);
		transition: all 0.45s ease 0s;
		margin-bottom: 85px;
		overflow: auto;

		.box-selection{
			grid-area: left;
			width: auto !important;
			position: relative;


			.img_loaded{
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;	
				z-index: $index + 10;
				object-fit: cover;
			}
			
			input#images_file{
				position: absolute !important;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: ($index + 25) !important;
				cursor: pointer;
			}

			&::before{
				content: "Change Image";
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #000;
				color: #fff;
				width: 100%;
				height: 45px;
				z-index: ($index + 12);
				display: flex;
				justify-content: center;
				-ms-align-items: center;
				align-items: center;
			}

		}

		.tags{
			grid-area: prebottom;
			width: auto;
			height: auto;
			margin-top: 5px;
		}

		.name_keys{
			grid-area: right;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			padding: 5px;
			padding-left: 0;

			.container_name{
				display: block;
				height: 95px;
				margin-bottom: 2rem;
				position: relative;
				font-family: $font-main;
				font-weight: bold;
				padding: 0 10px;
				padding-top: 0.5rem;

				input{
					min-height: auto;
					height: 50px;
					margin-top: 10px;
					display: block;
					border: none;
					box-shadow: 0 0.2px 1.5px 0 rgba(#111,0.75);
					padding: 0 5px;
					font-weight: normal;
					font-family: $font-second;
				}

			}

			.container_key{
				height: 170px;
				display: flex;
				flex-direction: column;
				max-width: 100%;
				padding: 0 10px;
				padding-top: 0.5rem;

				label{
					display: flex;
					padding: 10px 0;
					margin-bottom: 0.25rem;
					font-weight: bold;
					font-family: $font-main;
				}

				#keywords{
					resize: none;
					height: 100%;
					font-family: $font-second;
					font-weight: normal;
					padding: 0 5px;
					border: none;
					outline: none;
					box-shadow: 0 0 1.5px 0 rgba(#111,0.75);
				}
			}
		}
		
		button.update{
			grid-area: bottom2;
			background-color: rgba($enf-color-overlay,0.9);
			color: #fff;
			transition: all $transition-global;

			&:hover{
				background-color: $enf-color-overlay;
			}
		}

		button.cancel{
			grid-area: bottom1;
			background-color: darken(red,9%);
			color: #fff;
			transition: all $transition-global;
			line-height: 0;
			
			&:hover{
				background-color: darken(red,11%);
			}
		}

		button span{
			padding: 0;
			margin: 8px;
			font-size: 1.1rem;
			display: inline;
			line-height: 0;
			height: 0;
		}

	}

	&.active{
		opacity: 1;
		z-index: $index;
		visibility: visible;
		transition: all 0.3s linear 0;

		#save_image{
			transition-timing-function: ease-in-out;
			transition: transform 0.75s cubic-bezier(.68,-0.55,.27,1.55) 0.35s;
			transform: translate3d(0,0,0);
		}
	}

	@include mq(900px){
		#save_image{
			width: 90vw;
			top: 75px;
			margin-top: 2rem;
		}
	}

	@include mq(md){
		#save_image{
			width: 92vw;
			top: 80px;
			margin: 0;
			margin-top: 160px;
			margin-bottom: 100px !important;
			margin-right: 1vw;

			grid-template-rows: 200px 1fr auto 55px;
			grid-template-areas:"left left"
								"right right"
								 "prebottom prebottom"
								 "bottom1 bottom2";
	
			box-shadow: 0 0 10px 0 #000;
			transform: translate3d(0,-100vh,0);
			transition: all 0.45s ease 0s;
			.container_name{
				margin-bottom: 0;
			}
		}
	}
}

/* 				#DELETE IMG 		 */
.modal_delete_img{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	width: 100vw;
	height: 100vh;

	padding: 10px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease 0.5s;
	background-color: rgba(#000, 0.45);
	display: grid;
	justify-content: center;
	align-items: start;
	z-index: 1000;
	
	.msg_delete{
		position: relative;
		width: 380px;
		background-color: #fff;
		border-radius: 2px;
		top: 10vh;
		transform: translate3d(0,-55vh,0);
		transition-timing-function: ease-in-out;
		transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55) 0s;
		padding-bottom: 50px;
		
		.mark-delete{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1.5rem 1rem;
			padding-top: 3rem;
			text-align: center;
			margin-bottom: 1rem;
			
			.fa{
				font-size: 2rem;
				color: darken(red, 10%);
				margin-bottom: 0.5rem;
			}
		}

		button{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 1rem 0.5rem;
			position: absolute;
			bottom: 0;
			width: 50%;
			.fa{
				padding: 0.5rem;
			}
		}

		.cancel-delete{
			left: 0;
		}

		.confirm-delete{
			right: 0;
			background-color: darken(red, 12%);
			color: #fff;
			
			&:hover{
				background-color: darken(red, 8%);
			}
		}

	}
	
	&.is-active{
		opacity: 1;
		visibility: visible;
		transition: all 0.3 ease 0;
		
		.msg_delete{
			transition: transform 0.75s cubic-bezier(.68,-0.55,.27,1.55) 0.32s;
			transform: translate3d(0,5%,0);
		}
	}
	
}
