//====================================================
//                      Button-main
//====================================================
%btn--active{
    color: #fff;
    background-color: $enf-color-overlay;
}

.btn{
    padding: 12px 20px;
    display: flex;
    flex-wrap: nowrap;
    transition: all $transition-global;
    border-radius: 1px;
    cursor: pointer;
    background: transparent;

    &-main{
        @extend .btn;
        &.btn--active{
            @extend %btn--active;
        }
    }
}

//====================================================
//                      Button-icon
//====================================================

.btn-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    background: transparent;
}