//====================================================
//                      Button-main
//====================================================
%btn--active{
    color: #fff;

    &:before{
        transition: all .35s ease 0s;
        transform: scaleX(1.1);
    }
}

.btn{
    padding: 12px 20px;
    display: flex;
    flex-wrap: nowrap;
    transition: all $transition-global;
    cursor: pointer;
    background: transparent;

    &-main{
        overflow: hidden;
        @extend .btn;
        position: relative;

        &.btn--active{
            @extend %btn--active;
        }
        
        &:before{
            content: "";
            background-color: $enf-color-overlay;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleX(0);
            transform-origin: left center;
            z-index: -1;
            transition: all .3s ease 0.3s;
        }

        &:hover{
            @extend %btn--active;
        }
    }
}

//====================================================
//                      Button-icon
//====================================================

.btn-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    background: transparent;
}