@mixin is-search(){
    // background-color: #232a34;
    // background-color: #28282d;
    // background-color: #232326;
    background-color: #1b2129;
    position: fixed;
    
    top: 0;
    z-index: 400;
    width: 100%;
    flex: 1 1 100%;
}

