/* -------------------- menu-main ---------------- */
.menu-main{

    .nav-bar{
        flex: 1 0 45%;
        padding: 0 10px;
        max-width: 500px;
        width: auto;
        min-width: 400px;
        display: block;
        

        @include mq(1100px){
            min-width: 325px;
        }
        
        ul{
            display: flex;
            justify-content: space-evenly;
            text-align: center;

            .nav__item{
                display: inline-flex;
                min-width: 60px;
                a{
                    color: #fff;
                    font-size: 1.05em;
                    font-family: $font-main;
                    font-weight: normal;
                    
                    @include mq(md){
                        font-size: 1em;
                    }                    
                    &:hover{
                        @extend .btn--active;
                    }
                }
            }
        }
    }//end .nav-bar


    @include mq(md){ // menu de navegacion en modo tableta
        transform: translateX(100%);
        flex: 1 1 100%;
        position: fixed;
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
        min-height: 100vh;
        height: auto;
        background-color: transparentize(#0d0d0d, 0.15%);
        z-index: 440;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 75px 15px;
        transition: all 0.3s linear 0.3s;


        .nav-bar{
            min-height: 100%;
            min-width: 100%;
            
            ul{
                min-height: 100%;
                min-width: 100%;
                flex: 0 0 100%;
                position: relative;
                align-items: center;
                flex-wrap: wrap;

                .nav__item{

                    display: flex;
                    min-width: 100%;
                    clip-path: circle(1% at 0 center);
                    transition: clip-path 0.25s linear 0s;
                    justify-content: center;
                    margin-bottom: 15px;

                    a{
                        min-width: 100%;
                        &:before{
                            display: none;
                        }
                    }
                }
            }
        }


        &.is-active-menu{
            transform: translateX(0);
            .nav-bar ul .nav__item {
                transition: clip-path 0.8s ease 0.55s;
                clip-path: circle(100%);
                a{
                    background-color: $enf-color-overlay;
                    &.btn--active, &:hover{
                        background-color: transparentize($enf-color-overlay,0.8%);
                    }
                }
            }
        }
    } // end media query (md)
}