@font-face {
  font-family: 'El Messiri';
  src: url("../fonts/ElMessiri-Regular.ttf");
  font-weight: normal;
  font-style: normal; 
}

/*
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal; 
}*/

@font-face {
  font-family: 'Roboto R';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'Roboto Th';
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: normal;
  font-style: normal; 
}

/*
@font-face {
  font-family: 'Monda';
  src: url("../fonts/Monda-Regular.ttf");
  font-weight: normal;
  font-style: normal; 
}*/


//Monda, Roboto, 'Lucida Sans'