
$height-navbar: 68px;
$width-menu: 100px;

.container-grid{
	position: sticky;
	width: 100%;
	min-width: 100%;
	height: auto;

	display: grid;
	grid-template-columns: $width-menu 1fr;
	grid-template-rows: $height-navbar auto;
	grid-auto-rows: auto;

	@include mq(lg){
		.content-container{
			grid-column: 1 / -1;
			padding: 1em;
			box-shadow: 0 0 10px 0 #fff;
		}
	}

	@include mq(md){
		.content-container{
			padding: 0;
		}
	}
}

.menu-container{
	top: $height-navbar;
	min-height: calc(100vh - 68px);
	height: 100%;
	grid-column: 1 / span 1;
	grid-row: 2 / -1;
	background: $color-secondary;
	padding-top: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 1;
	position: sticky;

	.menu{
		width: 100%;
		height: 100%;
		max-width: $width-menu;

		&__item{
			min-width: 100%;
			color: #fff;
			border-bottom: 1px solid #000;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;

			a{
				font-family: $font-second;
				font-weight: lighter;
				font-size: 0.9rem;
				color: #fff;
				min-height: 40px;
				min-width: 100%;
				padding-left: 10px;
				flex-wrap: wrap;

				display: flex;
				-ms-align-items: center;
				align-items: center;
				justify-content: center;
				transition: all 0.7s ease;

				span.fa{
					max-height: 100%;
					padding: 5px;
					display: block;
					flex: 100%;
					text-align: center;
					font-size: 1.2rem;
				}
			}
		}
	}

	@include mq(lg){
		padding-top: 1vh;
		position: fixed;
		top: $height-navbar;
		left: 0;
		transform: translate3d(-100%,0,0);
		-webkit-transition: transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		z-index: 1000;

		&.is-active-menu{
			transform: translate3d(0,0,0);
		}
		
		.menu{
			max-width: auto;
			min-width: 100%;
			width: 100%;
		}
	}
}

/*.avatar{
	color: #fff;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	align-self: flex-start;
	background-color: red;

	span{
		margin-bottom: 0.5em;
	}

	.fa{
		font-size: 2.5em;
		padding: 15px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-bottom: 0.2em;
	}

	footer{
		font-size: 1em;
	}
}*/

.content-container{
	grid-row-start: 2;
	grid-column: 2 / -1;
	padding: 2em 1em;
	min-width: 100%;
	width: 100%;
}

.content{
	background-color: #fff;
	border-radius: 5px;
	padding: 0.25em;
	overflow: hidden;
}

.navbar{
	grid-column: 1 / -1;
	top: 0;
	left: 0;
	position: fixed;
	height: $height-navbar;
	min-width: 100vw;
	background: $color-secondary;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	z-index: 110;
	color: #fff;
	padding-right: 3rem;

	.btn-menu{
		display: none;
		margin: 0 ($width-menu * 0.25);
	}

	div{
		flex: 0 0 auto;
		display: inline-flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 100%;
		max-height: 100%;
	}

	&__logo{
		font-size: 1.4rem;

		.logo-container{
			min-width: $width-menu;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-right: 5px;

			span{
				transform: scale(0.9);
			}
		}
	}

	.profile{
		margin: 1rem;
		position: relative;
		z-index: 200;

		&__alias{
			position: relative;
			width: 45px;
			height: 45px;
			margin: 0.25em;
			padding: 0.75em;
			border-radius: 50%;
			background: url('../../static/img/cuenta.svg'), transparent;
			background-position: center, center;
			background-size: cover, cover;
			box-shadow: 0 0 2px 0 #000;
			z-index: 200;

			&::after{
				content: "\f107";
				display: inline-flex;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate3d(0,-50%,0);

				display: inline-block;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;

				font-family: 'Font Awesome 5 Free';
  				font-weight: 900;
  				font-size: inherit;
  				margin: auto 0.5rem;
  				margin-right: -35%;
  				color: #fff;
			}
		}

		.profile__menu{
			position: absolute;
			top: 100%;
			right: 0;
			background: linear-gradient(90deg, #fafafa 50%, #FDFDFD 50%);
			box-shadow: 0 1px 4px 0 rgba(#000,0.75);

			min-width: 240px;
			min-height: 300px;
			z-index: 200;
			
			overflow: hidden;
			
			opacity: 0;
			visibility: hidden;

			transform: translate3d(0,-20%,0);
			transition: all $transition-global;
			/*transition: transform 0.3s ease 0s;*/
			/*transition: opacity 0.4s ease 0.1s;*/
			/*transition: visibility 0.4s ease 0.3s;*/

			align-items: center;
			border-radius: 2px;

			.profile_alias_img{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				object-fit: cover;
				object-position: center;
				box-shadow: 0 0 3px 1px rgba(#000,0.5);
				margin: 0.25rem;
				margin-top: 1rem;
				z-index: 200;
				position: absolute;
				top: 0.5rem;
			}

			.username{
				padding: 0.25rem;
				display: flex;
				margin: 0;

				align-items: center;
				text-align: center;
				justify-content: center;
				width: 100%;
				height: 45px;
				color: #000;
				font-size: 1.15rem;
				z-index: 200;
			}

			ul {
				width: 100%;
				z-index: 200;
				position: absolute;
				bottom: 0;


				.profile__menu-item{
					height: 55px;
					background-color: #fff;
					position: relative;
					text-align: center;
					
					a{
						position: relative;
						height: 100%;
						width: 100%;
						
						display: flex;
						justify-content: center;
						align-items: center;
						box-shadow: 0 1px 2px 0 rgba(#000,0.5);
						font-size: 16px;

						span{
							display: inline-flex;
							margin: auto;
							margin-left: -0.5rem;
							margin-right: 0.5rem;	
						}

					}
					
					
					&:hover{
						background-color: $enf-color-overlay;
						color: #fff;
					}

				}
			}
		}

		
		&.is-active .profile__menu{
			opacity: 1;
			visibility: visible;
			transform: translate3d(0,0,0);
		}

	}

	.profile .username{
		margin-right: 0.5rem;
		font-size: 1rem;
		position: relative;
	}

	@include mq(lg){
		.btn-menu{
			display: flex;
		}

		&__logo{
			position: absolute;
			left: $width-menu;
				
			.logo-container{
				min-width: auto;
				padding: 0;
				margin: 0;
			}

			.page-name{
				display: none;
			}
		}

		.profile{
			margin-right: 0.5rem;

			.username{
				display: none;
			}
		} 
	}

}

.btn-hamburguer{
	z-index: 1000;
}


/* --------------  Searh Bar  -------------- */
.search-container{
	max-width: 1000px;
	margin: 1em auto;
	box-shadow: 0 1px 2px 0 rgba(#000,0.4),
				0 0 4px 0 rgba(#000,0.5);

	form{
		font-family: $font-second;
		position: relative;
		#inputSearch:focus{
			border: none !important;
		}

		.search-input, button[type]{
			transition: all $transition-global;
		}

		.search-input:focus,
		.search-input:focus ~ button[type]{
			box-shadow: 0 1px 1.7px 0 rgba(#000,0.75);
		}
	}
}

#filter_images{
	border: none;
	outline: none;
	box-shadow: 0 0 1.5px 0 rgba(#000,0.5),
				      0 1px 1px 0 rgba(#000,0.5);
}

select {
  &:focus {
    outline: 0;
  }
}

form{
	.input{
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		height: 45px;
		padding: 5px;
		margin-bottom: 2em;
		background-color: #fff;
	}

	input{
		min-height: 100%;
		padding: 5px;
		width: 100%;
		font-family: $font-aux;
		font-weight: bold;
		transition: all $transition-global;
		color: #000;
	}

	input:focus{
		border: 1px solid rgba(#000,1);
	}

	input.notification:valid{
		border: 1px solid $enf-color-overlay;
	}

	input.notification:invalid{
		border: 1px solid #E50000;
	}
}


/* -------------------- NOT FOUND ---------------------- */

.not_found_container{
	padding: 1rem;
	max-width: 800px;
	width: 100%;
	height: auto;
	margin: auto;
	box-shadow: 0 1px 2px 0 rgba(8, 8, 8, 0.5);
	background: linear-gradient(180deg, #fff 30%, $enf-color-overlay 30%);
	margin-top: 10vh;
	
	.nf_404{
		width: 100%;
		height: 50%;
		padding: 1rem;
		text-align: center;
		color: #fff;
		font-size: 15em;
		// text-shadow: 15rem 1rem linear-gradient(180deg, #fff 30%, $enf-color-overlay 30%);
		// -webkit-text-stroke: 0.1px #000; 
	}

	.nf{
		color: #fff;
		font-size: 8em;
		text-align: center;
		width: 100%;
		height: auto;
		padding: 1rem;
		font-weight: bold;
	}

	@include mq(lg){
		font-size: 12px;
		// background: linear-gradient(180deg, #fff 30%, $enf-color-overlay 30%);

	}
}

// Pagination 
.pagination{
	margin-top: 2rem;
	scroll-behavior: smooth;
	
	ul{
		scroll-behavior: smooth;
	}
}
.pagination ul button{
	background-color: #f9f9f9;
}

