/*body{
	min-height: 100vh;
	height: 100vh;
}
*/
$height-navbar: 68px;
$width-menu: 100px;

.container-grid{
	width: 100%;
	min-width: 100%;
	height: auto;
	min-height: 100%;

	display: grid;
	grid-template-columns: $width-menu 1fr;
	grid-template-rows: $height-navbar auto;
	grid-auto-rows: auto;

	@include mq(lg){
		.content-container{
			grid-column: 1 / -1;
			padding: 1em;
			box-shadow: 0 0 10px 0 #fff;
		}
	}
}

.menu-container{
	top: $height-navbar;
	min-height: 100vh;
	height: auto;
	grid-column: 1 / span 1;
	grid-row: 2 / -1;
	background: $color-secondary;
	padding-top: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-ms-align-items: center;
	z-index: 1;

	.menu{
		width: 100%;
		height: auto;
		position: fixed;
		max-width: $width-menu;
		overflow: hidden;

		&__item{
			min-width: 100%;
			color: #fff;
			border-bottom: 1px solid #000;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;

			a{
				font-family: $font-second;
				font-weight: lighter;
				font-size: 0.9rem;
				color: #fff;
				min-height: 40px;
				min-width: 100%;
				padding-left: 10px;
				flex-wrap: wrap;

				display: flex;
				-ms-align-items: center;
				align-items: center;
				justify-content: center;
				transition: all 0.7s ease;

				span.fa{
					max-height: 100%;
					padding: 5px;
					display: block;
					flex: 100%;
					text-align: center;
					font-size: 1.2rem;
				}
			}
		}
	}

	@include mq(lg){
		padding-top: 1vh;
		position: sticky;
		top: 0;
		left: 0;
		/*min-width: 200px;*/
		/*width: 25vw;*/
		transform: translate3d(-100%,0,0);
		-webkit-transition: transform 0.5s ease;
		-o-transition: transform 0.5s ease;
		transition: transform 0.5s ease;
		z-index: 1000;

		&.is-active-menu{
			transform: translate3d(0,0,0);
		}
		
		.menu{
			position: absolute;
			max-width: auto;
			min-width: 100%;
			width: 100%;
		}
	}
}

.avatar{
	color: #fff;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	align-self: flex-start;
	background-color: red;

	span{
		margin-bottom: 0.5em;
	}

	.fa{
		font-size: 2.5em;
		padding: 15px;
		border-radius: 50%;
		border: 1px solid #fff;
		margin-bottom: 0.2em;
	}

	footer{
		font-size: 1em;
	}
}

.content-container{
	grid-row-start: 2;
	grid-column: 2 / -1;
	/*background-color: #fafafa;*/
	padding: 2em 1em;
	min-width: 100%;
	width: 100%;
}

.content{
	background-color: #fff;
	box-shadow: 0 0 2px 0 rgba(#000,.5);
	border-radius: 5px;
	padding: 0.25em;
}

.navbar{
	grid-column: 1 / -1;
	top: 0;
	left: 0;
	position: sticky;
	height: $height-navbar;
	min-width: 100vw;
	background: $color-secondary;
	/*position: relative;*/
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	color: #fff;
	padding-right: 2rem;

	.btn-menu{
		display: none;
		margin: 0 ($width-menu * 0.25);
	}

	div{
		flex: 0 0 auto;
		display: inline-flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 100%;
		max-height: 100%;
	}

	&__logo{
		font-size: 1.4rem;

		.logo-container{
			min-width: $width-menu;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin-right: 5px;

			span{
				transform: scale(0.9);
			}
		}
	}

	.profile{
		margin: 0.45rem;

		&__alias{
			width: 45px;
			height: 45px;
			margin: 0.25em;
			padding: 0.75em;
			border-radius: 50%;
			background: url('../../static/img/user.png'), #fff;
			background-position: center, center;
			background-size: cover, cover;
		}
	}

	.profile .username{
		margin-right: 0.5rem;
		font-size: 1rem;
	}

	@include mq(lg){
		.btn-menu{
			display: flex;
		}

		&__logo{
			position: absolute;
			left: $width-menu;
				
			.logo-container{
				min-width: auto;
				padding: 0;
				margin: 0;
			}

			.page-name{
				display: none;
			}
		}

		.profile{
			margin-right: -1rem;

			.username{
				display: none;
			}
		} 
	}

}

.btn-hamburguer{
	z-index: 1000;
}


@keyframes bg-btn-login {
	 @for $i from 1 through 100{
        #{$i}%{
            background-position: $i * -10px;
        }
    }
}


/* --------------  Searh Bar  -------------- */
.search-container{
	max-width: 1000px;
	margin: 1em auto;
	box-shadow: 0 1px 2px 0 rgba(#000,0.4),
				0 0 4px 0 rgba(#000,0.5);

	form{
		font-family: $font-second;
	}
}