.filter-imgs{
	padding: 0;
	margin: 10px 0 0 0;

	ul{
		flex-wrap: nowrap;
		display: flex;
		align-items: center;
		padding: 10px 15px;
		margin: 0;
		overflow-x: hidden;

		li{
			flex: auto;
			min-width: 150px;
			margin: 0;
			margin-right: 10px;
			padding: 0;
	        border: thin solid transparent;

	        display: flex;
	        box-shadow: 0 0 1px 0 #000;

			&.btn--active-c,
			&:hover{
	        	box-shadow: 0 0 0 0 #000;
				background-color: $enf-color-overlay;
				a{
					color: #fff;
				}
	        }
			
			a{
				display: inline-flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				padding: 10px 0;
				color: #000;
				line-height: 1.3;
			}
		}

	}
}